.grey-bg {
    background-color: rgb(244, 232, 255);
}


.navbar {
    padding: 0!important;
}


.navbar-brand, .nav-link {
    color: blueviolet;
}

.jumbotron {
    margin-bottom: 0rem;
}

.signup {
    color: rgb(5, 5, 58);
    height: 93vh;
}